body {
  background-image: url("assets/landscape.jpg");
  color: rgb(252, 229, 229);
  padding-left: 50px;
  font-family: 'DM Serif Display', serif;
 }

 h1 {
   font-size: 100px;
   margin-top: 30px;
 }

 ol {
  padding-left: 50px;
 }

 li {
   font-size: 60px;
   padding-left: 5px;
 }

 a {
   color: white;
 }

 p {
   font-size: 18px;
}