<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vintage Camera Collection</title>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Ranchers&family=Spicy+Rice&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Vintage Camera Collection</h1>
  <div class="legend">
    <div class="dot"></div>
    <span class="legendtext">Rare</span>
  </div>
  <div id="cameraList">
  <table>
    <thead>
      <th>Image</th>
      <th>Name</th>
      <th>Released</th>
      <th>Rarity</th>
      <th>Film Type</th>
      <th>Collected</th> 
    </thead>
    <tbody>
      <tr 
      v-for="(camera, index) in cameras" 
      :class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 !==0}"
      >
        <td>
          <img 
          :title="camera.name" 
          :src="camera.image" 
          :alt="camera.name + ' ' + camera.description"
          >
        </td>
        <td>{{camera.name}}</td>
        <td>{{camera.released}}</td>
        <td :class="{rare: camera.rarity.toLowerCase().includes('rare')}">{{camera.rarity}}</td>
        <td>{{camera.filmType}}</td>
        <td>{{camera.collected}}</td>
      </tr>
    </tbody>
  </table>
  <form v-on:submit.prevent="submitHandler">
    <fieldset>
      <legend>Add a console to the collection</legend>
      <div>
        <label for="image">Image</label>
        <input id="image" type="text" v-model="newCameraObj.image">
      </div>
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" v-model="newCameraObj.name">
      </div>
      <div>
        <label for="released">Released</label>
        <input id="released" type="date" v-model="newCameraObj.released">
      </div>
      <div>
        <label for="rarity">Rarity</label>
        <input id="rarity" type="text" v-model="newCameraObj.rarity">
      </div>
      <div>
        <label for="film">Film Type</label>
        <input id="film" type="text" v-model="newCameraObj.film">
      </div>
      <div>
        <label for="owned">Owned</label>
        <input id="owned" type="checkbox" v-model="newCameraObj.owned">
      </div>
      <button type="submit">Add Item</button>
    </fieldset>
  </form>
  </div>
  <script src="collection.js"></script>
</body>
</html>