<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alpaca Fan Club Registration Form</title>
  <meta name="google" content="notranslate">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="alpacaForm" v-cloak>
    <form>
      <fieldset>
        <legend>Fan Club Registration</legend>
      <div>
        <label for="firstName">First Name</label><input id="firstName" v-model="firstName" type="text">
      </div>
      <div>
        <label for="lastName">Last Name</label><input id="lastName" v-model="lastName" type="text">
      </div>
      <div>
        <label for="street">Street Address</label><input id="street" type="text" v-model="street">
      </div>
      <div>
        <label for="state">State</label><select name="" id="state" v-model="state">
          <option v-for="state in availableStates" v-bind:value="state.value">{{state.name}}</option>
        </select>
      </div>
      <div>
        <label for="country">Country</label><input id="country" type="text" maxlength="3" v-model="country">
      </div>
      <div class="alpaca-color">
        <p>Favorite Alpaca Colors</p>
        <div>
          <ul>
            <li v-for="color in colors">
              <label v-bind:for="color.value">
                <input id="color" type="checkbox" v-bind:id="color.value" v-bind:value="color.value" v-model="selectedColors">
                {{color.name}}
              </label>
            </li>
          </ul>
          
        </div>
      </div>
      <div class="alpaca-status">
        <label for="">Alpaca Status</label><textarea name="" id="" cols="30" rows="10" v-model="status"></textarea>
      </div>
      </fieldset>
      <div class="output">
        <h3>Output</h3>
        First Name: {{firstName}}<br>
        Last Name: {{lastName}}<br>
        Street: {{street}}<br>
        State: {{state}}<br>
        Country: {{country}}<br>
        Color: {{selectedColors}}<br>
        Status: {{status}}
      </div>
    </form>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="script.js"></script>
</body>
</html>