[v-cloak] {
  display: none
}
form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
div {
  margin: 10px 0;
  display: flex;
}
div.alpaca-status, div.alpaca-color, div.output {
  flex-direction: column;
}
div label {
  margin-right: 10px;
}
div input, div select {
  flex-grow: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 5px 0;
}
input, select, textarea, fieldset {
  border: 1px solid blue;
  border-radius: 4px;
}
textarea {
  background-color: #f8f8f8;
}